<html>
<head>
  <% include partials/bootstrap %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <% include css/general %>
  
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
  </style>
</head>
<body>
  <% include partials/navbar %>

  <div class="w3-card w3-round w3-white">
    <div class="w3-container">
     <h4 class="w3-center"><%= user.displayName %></h4>
     <p class="w3-center"><img src="https://api.adorable.io/avatar/285/<%= user.displayName %>" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
     <hr>
     <center><p>Level 23</p></center>
     <p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
     </p>
    </div>
  </div>

  <%
  for(var i = 0; i < 10; i++){%>
    <div class="w3-col m7">
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="https://api.adorable.io/avatar/285/<%= JSON.parse(stream)[i].actor; %>" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">16 min</span>
        <h4><%= JSON.parse(stream)[i].actor; %></h4><br>
        <hr class="w3-clear">
        <p><%= JSON.parse(stream)[i].message; %></p>
      </div>  
    </div>
  <%}%> 
  %>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $( ".home" ).addClass( "active" );
  });
</script>
</html>