<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<% include partials/bootstrap %>
	<script>
		// Check if the page is loaded and ready
		$(document).ready(function() {
			// Currently selects each of the elements with the filterSelect class name and uses jquery plug in Select2
			// to convert the select lists to searchable drop down lists
			$('.filteredSelect').select2();
		});
		
	</script>
</head>

<body>
Hello, <%= user.displayName %>!
<form action="/action" id="settingsform">
Username:<input type="text" name="fname"><br>
Year:
<select class="filteredSelect" name="yearlist" form="settingsform">
	<% var year = 1998 %>
	<% for(var i = 0; i < 21; i++) { %>
		<option value=<<%=" + (year + i) + "%>><%= year + i %></option>
	<% } %>
</select><br>

Make:
<select class="filteredSelect" name="makelist" form="settingsform">
	<% var year = 1998 %>
	<% for(var i = 0; i < 21; i++) { %>
		<option value=<<%=" + (year + i) + "%>><%= year + i %></option>
	<% } %>
</select><br>

Model:
<select class="filteredSelect" name="modellist" form="settingsform">
	<% var year = 1998 %>
	<% for(var i = 0; i < 21; i++) { %>
		<option value=<<%=" + (year + i) + "%>><%= year + i %></option>
	<% } %>
</select><br>

Transmission:
<select class="filteredSelect" name="transmissionlist" form="settingsform">
	<% var year = 1998 %>
	<% for(var i = 0; i < 21; i++) { %>
		<option value=<<%=" + (year + i) + "%>><%= year + i %></option>
	<% } %>
</select><br>

CO2/mile: ... <br>

Secondary Transportation:
<select class="filteredSelect" name="secondarylist" form="settingsform">
	<% var year = 1998 %>
	<% for(var i = 0; i < 21; i++) { %>
		<option value=<<%=" + (year + i) + "%>><%= year + i %></option>
	<% } %>
</select><br>
  <input type="submit">
</form>
</body>
</html>